# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# Archivos temporales SPSS
*.sav
temp_input.sav
cleaned_data.sav

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
